<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="5; url=http://192.168.0.102/admin/adminDashboard">
        <script type="text/javascript">
            window.location.href = "http://192.168.0.102/admin/adminDashboard"
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        Ouestions Uploaded Successfully.If you are not redirected automatically, follow this <a href='http://192.168.0.102:5000/admin/adminDashboard'>link to example</a>.
    </body>
</html>